main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 180px;
    align-items: flex-start;

}
 
div#container-cadastro {
    width: 35%;
    display: flex;
    margin-left: 80px;
}

div#cadastro {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #A5CF20;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: #A5CF20;
}

form p {
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

input.preenchimento {
    width: 70%;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
}

form input:last-child {
    width: 40%;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 25px;
}