#titulo-principal {
    font-size: 40px;
}

#titulo-adicional {
   font-size: 40px;
}

#container-cadastro {
   width: 100%;
   height: 692px;
   display: inline-block;
   padding-left: 100px;
}

#container-linhas-lacunas {
   width: 95%;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#lacuna {
   background-color: white;
   border: 2px solid gray;
   width: 380px;
   filter: drop-shadow(0 0 0.3rem gray);
   border-radius: 10px;
   height: 35px;
   color: black;
   font-size: 20px;
   padding-left: 10px;
}

#container-lacuna {
   width: 440px;
   height: 35px;
}

#container-button-continuar {
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 140px;
}

#bto-continuar {
   width: 380px;
   height: 100px;
   font-size: 30px;
   border-radius: 70px;
   background-color: black;
   color: white;
   cursor: pointer;
}